body{
				cursor: url(/img/huaji.cur),auto;
			}
			.jichou{
				margin: 50px auto;
				max-width: 350px;
			}
			.head{
				width: 300px;
				margin: 0 auto;
				text-align: center;
			}
			.content{
				margin: 30px auto;
			}
			.panda{
				text-align: center;
			}
			.content .editor,.title{
				margin: 10px auto;
				font-size: 18px;
			}
			.content .title{
				text-align: center;
			}
			.controls button{
				display: block;
				margin: 20px auto;
			}
			.result{
				display: none;
				font-size: 16px;
				text-align: center;
				/*display: flex;*/
				justify-content: space-around;
			}
			.result div{
				margin: 0 50px;
			}
			
			.result button a{
				text-decoration: none;
				color:white;
			}
			
			/*bootstrap按钮样式*/
			.btn {
				display: inline-block;
				padding: 6px 12px;
				margin-bottom: 0;
				font-size: 14px;
				font-weight: normal;
				line-height: 1.42857143;
				text-align: center;
				white-space: nowrap;
				vertical-align: middle;
				-ms-touch-action: manipulation;
				touch-action: manipulation;
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				background-image: none;
				border: 1px solid transparent;
				border-radius: 4px;
			}
			
			.btn-primary {
				color: #fff;
				background-color: #337ab7;
				border-color: #2e6da4;
			}
			
			.btn-primary:focus,
			.btn-primary.focus {
				color: #fff;
				background-color: #286090;
				border-color: #122b40;
			}
			
			.btn-primary:hover {
				color: #fff;
				background-color: #286090;
				border-color: #204d74;
			}
			
			.btn-primary:active,
			.btn-primary.active,
			.open>.dropdown-toggle.btn-primary {
				color: #fff;
				background-color: #286090;
				border-color: #204d74;
			}
