*{ margin: 0; padding: 0; font-size: 0.3rem;}
body{ background: #EAEAEA; overflow: hidden;}
a{ text-decoration: none; color: #000000;}

.top{ height: 50px; text-align: center;  line-height: 50px; left: 0; top: 0; width: 100%; box-shadow: 0 0 10px #CCCCCC;  background: #FFF; position: fixed; z-index: 999;}
.back{ padding:0 15px;}
.back a{ text-decoration: none;}

.left{ float: left;}
.right{ float: right;}
.clear{ clear: both;}

.br3{ border-radius: 3px;}
.br5{ border-radius: 5px;}

.huise{ color: #2E363F;}
.huise_bg{ background: #2E363F;}
.baise{ color: #FFFFFF;}
.baise_bg{ background: #FFFFFF;}

@media screen and (min-aspect-ratio: 18/9){
	.p_footer{ position: fixed; left: 0; bottom: 0; height: 1rem; box-shadow: 0 0 10px #CCCCCC; width: 100%; background: #FFF; display: flex; padding-bottom: 0.5rem;}
}
.p_footer{ position: fixed; left: 0; bottom: 0; height: 1rem; box-shadow: 0 0 10px #CCCCCC; width: 100%; background: #FFF; display: flex;}
.p_footer_list{flex-grow: 1;  text-align: center;  padding: 0.1rem 0;}
.p_footer_list p{ height: 0.5rem; line-height: 0.4rem; color: #000; font-size: 0.25rem;}
.p_footer_list img{ height: 0.5rem;}
.c333{ color: #d81e06 !important;}


@-webkit-keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
            transform: perspective(100px) rotateX(180deg) rotateY(0); }

  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
            transform: perspective(100px) rotateX(180deg) rotateY(180deg); }

  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
            transform: perspective(100px) rotateX(0) rotateY(180deg); }

  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
            transform: perspective(100px) rotateX(0) rotateY(0); } }

@keyframes square-spin {
  25% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(0);
            transform: perspective(100px) rotateX(180deg) rotateY(0); }

  50% {
    -webkit-transform: perspective(100px) rotateX(180deg) rotateY(180deg);
            transform: perspective(100px) rotateX(180deg) rotateY(180deg); }

  75% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(180deg);
            transform: perspective(100px) rotateX(0) rotateY(180deg); }

  100% {
    -webkit-transform: perspective(100px) rotateX(0) rotateY(0);
            transform: perspective(100px) rotateX(0) rotateY(0); } }

.square-spin > div {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: #fff;
  -webkit-animation: square-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite;
          animation: square-spin 3s 0s cubic-bezier(.09, .57, .49, .9) infinite; }